In [1]:
num1 = 10

In [3]:
num1 =10
num2 = 20
add = num1 + num2
print(add)

30

In [23]:
num1 = 100

In [25]:
1num = 10  ''' don't use number 1st '''

SyntaxError: invalid decimal literal (2518084633.py, line 1)

In [9]:
firstName = "mursith"
print(firstName)

mursith

In [19]:
num1 ='10'
num2 = '20'       
add = num1 + num2
print(add)

1020

In [13]:
firstName = "mursith"
Lastname = "sharma"
fullname = firstName + Lastname
print(fullname)

mursithsharma

In [27]:
print("the addition of 2 numbers")
num1 = 10
print("the number 1 is : ",num1)
num2 = 20
print("the number 1 is : ",num2)
print("the answer is : ",num1 + num2)

the addition of 2 numbers
the number 1 is :  10
the number 1 is :  20
the answer is :  30

In [31]:
number1 = input("enter the number1: ") 
number2 = input("enter the number2: ") 
print(number1 + number2)

enter the number1:  20
enter the number2:  40

2040

In [35]:
number1 = int (input("enter the number1: "))
number2 = int (input("enter the number2: "))
print(number1 + number2)

enter the number1:  10
enter the number2:  30

40